* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: rgb(40,40,40);
    font-weight: 300;
    font-size: 16px;
}

.container {
    max-width: 800px;
}

.text-muted {
    color: #777;
}

.text-thin {
    font-weight: 100;
}

.float-right {
    float: right;
}


hr {
    margin-top: 0;
    margin-bottom: 5px;
}

.contacts {
    margin-bottom: 5px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contacts div {
    display: inline-block;
    padding: 5px;
    align-content: center;
}

.header-wrapper {
    margin-bottom: 10px;
}

.modal-texts {
    margin: 10px;
}

.project-description {
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 5px;
}

.modal-title {
    font-size: 28px;
}

.link-image {
    -webkit-filter: grayscale(40%);
    filter: grayscale(70%);
}

.link-wrapper {
    margin-bottom: 2em;
    cursor: pointer;
}

.link-image{
    position: relative;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    display: inline-block;
    padding: 5px;
    background: white;
    -webkit-backface-visibility: hidden;
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
}


.link-image::after {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.link-wrapper:hover .link-image{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0);
}

.link-wrapper:hover .link-image::after {
    opacity: 1;
}


#second-hr {
    margin-bottom: 10px;
}


h1 {
    letter-spacing: 7px;
    color: rgb(50,50,50);
    margin-bottom: 25px;
    text-shadow: 2px 2px 10px #060717;
}

.keyword-wrapper {
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 20px;
}

.keyword-wrapper p {
    margin-left: 25px
}

.hello-text {
    padding-left: 25px;
}


@media (max-width: 770px) {
    .keyword-wrapper p {
        display: inline;
        white-space: nowrap;
    }

    .keyword-wrapper {
        text-align: center;
    }

    .hello-text {
        padding-left: 5%;
        padding-right: 5%;
    }

    .my-name {
        text-align: center;
    }

    h1 {
        text-aling: center;
    }

    .link-wrapper {
        margin-bottom: 60px;
    }

}

@media (min-width: 770px) {
    .mobile-hi {
        display: none;
    }
}

.keywords div {
    margin-top: 6px;
    margin-right: 5px;
    background: linear-gradient(#9799b5,#454650);
    color: white;
    border-radius: 3px;
    padding: 4px;
    font-weight: 600;
    display: inline-block;
    box-shadow: 2px 2px 5px grey;
    font-size: 14px;
}

.keyword-title {
    font-size:20px;
}

.modal-header {
    background: linear-gradient(#363b85,#202678);
    color: white;
    border: #363b85;
}

.modal-body {
    background: linear-gradient(#333333,white 1%);
}

.btn-primary {
    background: linear-gradient(#272e91,#1c2169);
    box-shadow: 2px 2px 5px grey;
}

.close {
    color: white;
    opacity: 0.7;
}

.link-wrapper{
    height: 220px;
}