* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.container {
    max-width: 700px;
}

.text-muted {
    color: #bcbbbb
}

.text-thin {
    font-weight: 100;
}

.float-right {
    float: right;
}

.logo {
    margin-top: 20px;
}

hr {
    margin-top: 0;
}

.grayscale {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    transform: scale(1.1);
}